/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/

main section, .bottom section{
  width: 33.3333%;
  height: 300px;
  border: 1px solid black;
  float: left;
}
.bottom section{
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* On mobile, please make all sections stack  */
@media screen and (max-width: 414px) {
  main section, .bottom section {
    width: 100%;
    float: left;
  }
}

/* On tablet, please make the sections in main stack  */
@media (min-width: 414px) and (max-width: 912px) {
  main section, .bottom section {
    width: 100%;
    float: left;
  }
}

/* On laptop, please keep the normal layout, but everything should be light green */
@media (min-width: 912px) and (max-width: 1024px) {
  main section, .bottom section {
    background-color: lightgreen;
  }
}

/* On larger screens, please keep the normal layout, but everything should be light blue */
@media (min-width: 1025px) and (max-width: 2560px) {
  main section, .bottom section {
    background-color: lightblue;
  }
}
